<nav class="menu" id="nav">
	<span class="nav-item">
		<span class="icon">
			<i data-feather="home"></i>
		</span>
		<a href="#">Archivo</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="search"></i>
		</span>
		<a href="#">Editar</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="bell"></i>
		</span>
		<a href="#">Insertar</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="star"></i>
		</span>
		<a href="#">Ver</a>
	</span>
	<span class="nav-item">
		<span class="icon">
			<i data-feather="bell"></i>
		</span>
		<a href="#">Ayuda</a>
	</span>
    <span class="nav-item">
		<span class="icon">
			<i data-feather="bell"></i>
		</span>
		<a href="#">Acerca de </a>
	</span>
    <span class="nav-item">
		<span class="icon">
			<i data-feather="bell"></i>
		</span>
		<a href="#">Blog</a>
	</span>
    <span class="nav-item">
		<span class="icon">
			<i data-feather="bell"></i>
		</span>
		<a href="#">Contactanos</a>
	</span>
</nav>