<div class="col-12 div1Login centerBtnsDiv p-2 h-30">
    <!--<img class="p-7 dispFlex m-t-2" width="35" height="35" src="./assets/images.png" />-->
    <h3>Menu usuario</h3>
    <button (click)="goHome()" class="dispFlex m-t-2" type="button">Home</button>
    <button (click)="goRegistraUsuario()" class="dispFlex m-t-2" type="button">Registar Usuario</button>
    <button (click)="goPaciente()" class="dispFlex m-t-2" type="button">Registar cita</button>
    <button (click)="goInternar()" class="dispFlex m-t-2" type="button">Internar paciente</button>
    <button (click)="goPacientesInternados()" class="dispFlex m-t-2" type="button">Pacientes Internados</button>
    <button (click)="goPacientesAlta()" class="dispFlex m-t-2" type="button">Pacientes de alta</button>
    <button (click)="goCitados()" class="dispFlex m-t-2" type="button">Citas</button>
    <button (click)="goEnfermeros()" class="dispFlex m-t-2" type="button">Enfermeros</button>
    <button (click)="goDoctores()" class="dispFlex m-t-2" type="button">Doctores</button>
</div>