<div class="col-12 p-2">
    <h3 style="text-align: center">Pacientes alta</h3>
    <p-table 
    [value]="generalService.listaAltas" 
    classStyle="col-12 divHHijo"
    [lazy]="true" 
    [tableStyle]="{'min-width': '50rem'}" 
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    scrollHeight="400px">
        <ng-template pTemplate="header">
            <tr>
                <th>Registro</th>
                <th>Paciente</th>
                <th>Doctor</th>
                <th>Area</th>
                <th>Estatus</th>
                <th>Motivo ingreso</th>
                <th>Fecha ingreso</th>
                <th>Fecha salida</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alta>
            <tr>
                <td class="txt-alig">{{ alta.idInternado }}</td>
                <td class="txt-alig">{{ alta.nombrePac }}</td>
                <td class="txt-alig">{{ alta.nombreDoc }}</td>
                <td class="txt-alig">{{ generalService.getDescArea(alta.idArea) }}</td>
                <td class="txt-alig">{{ generalService.getDesEstatusAtendido(alta.idEstatus) }}</td>
                <td class="txt-alig">{{ alta.motivo }}</td>
                <td class="txt-alig">{{ alta.fechaIngreso }}</td>
                <td class="txt-alig">{{ alta.fechaSalida }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>