<div class="col-12 div1Login centerBtnsDiv p-2 h-30">
    <h3>Reporteo Internados</h3>
    <button class="dispFlex m-t-2" (click)="goReporteoInternados(1,2)" type="button">General</button>
    <button class="dispFlex m-t-2" (click)="goReporteoInternados(1,3)" type="button">Odontología</button>
    <button class="dispFlex m-t-2" (click)="goReporteoInternados(2,4)" type="button">Traumatología</button>
    <button class="dispFlex m-t-2" (click)="goReporteoInternados(3,5)" type="button">Nutrición</button>
    <button class="dispFlex m-t-2" (click)="goReporteoInternados(4,6)" type="button">Rayos X</button>
    <button class="dispFlex m-t-2" (click)="goReporteoInternados(5,7)" class="dispFlex m-t-2" type="button">Pedriatria</button>
    <button class="dispFlex m-t-2" (click)="goReporteoInternados(6,8)" type="button">Tocología</button>
    <button class="dispFlex m-t-2" (click)="goReporteoInternados(7,9)" type="button">Cardiología</button>
</div>