<div class="divHMain">
    <div class="divHHijo col-1">
        <img class="divHHijo p-7" width="35" height="35" src="./assets/atras.png" />
        <img class="divHHijo p-7" width="35" height="35" src="./assets/next.png" />
    </div>
    <div class="divHHijo col-1">
        <img class="p-7" width="35" height="35" src="./assets/home.png" />
    </div>
    <div class="divHHijo col-9">
        <div class="cajabuscar divHHijo p-2">
            <input type="text" id="s" value="" placeholder="Buscar"  />
        </div>
        <div class="divHHijo">
            <img class="p-7" width="35" height="35" src="./assets/search.png" />
        </div>
    </div>
    <div class="divHHijo col-1">
        <img class="p-7" width="35" height="35" src="./assets/menu_hamb.png" />
    </div>
</div>